body{
    background-image: url(images/plan-page.jpg);
}
article {
    float: left;
    width: 33.33%;
    background-color: rgb(36, 33, 33);
    color: white;
    width: 300px;
    height: 350px;
    text-align: center;
    border-style: solid;
    border-color:rgb(56, 53, 53);
}
.price {
    color: green;
    font-size: 30px;
}
button {
    color: white;
    background-color: rgb(30, 179, 129);
}
section{
    padding: 150px;
}
