#tieude{
    color : blue;
}
table {
    background-color: rgb(246, 248, 136);
    color: black;
    padding: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    width: 100%
}
table, th, td {
    border: 2px dotted black;
}